//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3
#define TVP1 4
#define TVP2 5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {
    behaviors {
        hml: hrm_left {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            quick-tap-ms = <125>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <5 6 7 8 9 31 30 19 18 17 28 16 15 29 27 26 37 36 35>;
        };

        hmr: hrm_right {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            quick-tap-ms = <125>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <20 10 22 23 25 24 21 32 33 34 14 13 12 11 0 1 2 3 4>;
        };

        arc_en_left: arc_en_left {
            compatible = "zmk,behavior-adaptive-key";
            #binding-cells = <0>;
            bindings = <&key_repeat>;

            akt_zr {
                trigger-keys = <Z>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp R>;
            };

            akt_jj {
                trigger-keys = <J>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp J>;
            };

            akt_yy {
                trigger-keys = <Y>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp Y>;
            };

            akt_aa {
                trigger-keys = <A>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp A>;
            };

            akt_uu {
                trigger-keys = <U>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp U>;
            };

            akt_mnmn {
                trigger-keys = <MINUS>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp MINUS>;
            };

            akt_lprn {
                trigger-keys = <LPAR>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp LPAR>;
            };

            akt_qu {
                trigger-keys = <Q>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp U>;
            };

            akt_lbrb {
                trigger-keys = <LBKT>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp RBKT>;
            };

            akt_tr {
                trigger-keys = <T>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp R>;
            };

            akt_gh {
                trigger-keys = <G>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp H>;
            };

            akt_nl {
                trigger-keys = <N>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp L>;
            };

            akt_fw {
                trigger-keys = <F>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp W>;
            };

            akt_king {
                trigger-keys = <K>;
                max-prior-idle-ms = <1000>;
                bindings = <&ing>;
            };

            akt_hh {
                trigger-keys = <H>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp H>;
            };

            akt_ii {
                trigger-keys = <I>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp I>;
            };

            akt_oo {
                trigger-keys = <O>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp O>;
            };

            akt_ee {
                trigger-keys = <E>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp E>;
            };

            akt_dotdot {
                trigger-keys = <DOT>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp DOT>;
            };

            akt_scsc {
                trigger-keys = <SEMICOLON>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp SEMICOLON>;
            };

            akt_pb {
                trigger-keys = <P>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp B>;
            };

            akt_dg {
                trigger-keys = <D>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp G>;
            };

            akt_rn {
                trigger-keys = <R>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp N>;
            };

            akt_sw {
                trigger-keys = <S>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp W>;
            };

            akt_mv {
                trigger-keys = <M>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp V>;
            };

            akt_xh {
                trigger-keys = <X>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp H>;
            };

            akt_br {
                trigger-keys = <B>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp R>;
            };

            akt_ck {
                trigger-keys = <C>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp K>;
            };

            akt_ln {
                trigger-keys = <L>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp N>;
            };

            akt_ws {
                trigger-keys = <W>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp S>;
            };

            akt_vm {
                trigger-keys = <V>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp M>;
            };
        };

        arc_ru_left: arc_ru_left {
            compatible = "zmk,behavior-adaptive-key";
            #binding-cells = <0>;
            bindings = <&key_repeat>;

            akt_yaya {
                trigger-keys = <Z>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp Z>;
            };

            akt_oo {
                trigger-keys = <J>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp J>;
            };

            akt_nr {
                trigger-keys = <Y>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp R>;
            };

            akt_ff {
                trigger-keys = <A>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp A>;
            };

            akt_apap {
                trigger-keys = <APOS>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp APOS>;
            };

            akt_mnmn {
                trigger-keys = <MINUS>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp MINUS>;
            };

            akt_lprn {
                trigger-keys = <LPAR>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp LPRN>;
            };

            akt_yy {
                trigger-keys = <Q>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp Q>;
            };

            akt_khr {
                trigger-keys = <LBKT>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp H>;
            };

            akt_ee {
                trigger-keys = <T>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp T>;
            };

            akt_pn {
                trigger-keys = <G>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp Y>;
            };

            akt_tm {
                trigger-keys = <N>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp V>;
            };

            akt_aa {
                trigger-keys = <F>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp F>;
            };

            akt_ln {
                trigger-keys = <K>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp Y>;
            };

            akt_rn {
                trigger-keys = <H>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp Y>;
            };

            akt_sht {
                trigger-keys = <I>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp N>;
            };

            akt_schn {
                trigger-keys = <O>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp Y>;
            };

            akt_uu {
                trigger-keys = <E>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp E>;
            };

            akt_dotdot {
                trigger-keys = <SLASH>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp SLASH>;
            };

            akt_yuyu {
                trigger-keys = <DOT>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp DOT>;
            };

            akt_zhch {
                trigger-keys = <SEMICOLON>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp X>;
            };

            akt_zzh {
                trigger-keys = <P>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp SEMICOLON>;
            };

            akt_vk {
                trigger-keys = <D>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp R>;
            };

            akt_kp {
                trigger-keys = <R>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp G>;
            };

            akt_yiyi {
                trigger-keys = <S>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp S>;
            };

            akt__ {
                trigger-keys = <M>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp M>;
            };

            akt_chzh {
                trigger-keys = <X>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp SEMICOLON>;
            };

            akt_bsch {
                trigger-keys = <COMMA>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp O>;
            };

            akt_ii {
                trigger-keys = <B>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp B>;
            };

            akt_stv {
                trigger-keys = <C>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp RBKT>;
            };

            akt_dn {
                trigger-keys = <L>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp Y>;
            };

            akt_tzm {
                trigger-keys = <W>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp V>;
            };

            akt_mb {
                trigger-keys = <V>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp COMMA>;
            };
        };

        arc_en_right: arc_en_right {
            compatible = "zmk,behavior-adaptive-key";
            #binding-cells = <0>;
            bindings = <&key_repeat>;

            akt_zz {
                trigger-keys = <Z>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp Z>;
            };

            akt_ju {
                trigger-keys = <J>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp U>;
            };

            akt_yi {
                trigger-keys = <Y>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp I>;
            };

            akt_ao {
                trigger-keys = <A>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp O>;
            };

            akt_ue {
                trigger-keys = <U>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp E>;
            };

            akt_mngt {
                trigger-keys = <MINUS>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp GT>;
            };

            akt_lprn {
                trigger-keys = <LPAR>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp RPAR>;
            };

            akt_qq {
                trigger-keys = <Q>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp Q>;
            };

            akt_lblb {
                trigger-keys = <LBKT>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp LBKT>;
            };

            akt_th {
                trigger-keys = <T>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp H>;
            };

            akt_gg {
                trigger-keys = <G>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp G>;
            };

            akt_nn {
                trigger-keys = <N>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp N>;
            };

            akt_ff {
                trigger-keys = <F>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp F>;
            };

            akt_kk {
                trigger-keys = <K>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp K>;
            };

            akt_hy {
                trigger-keys = <H>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp Y>;
            };

            akt_iy {
                trigger-keys = <I>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp Y>;
            };

            akt_oa {
                trigger-keys = <O>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp A>;
            };

            akt_eu {
                trigger-keys = <E>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp U>;
            };

            akt_dotsp {
                trigger-keys = <DOT>;
                max-prior-idle-ms = <1000>;
                bindings = <&sp_shift>;
            };

            akt_sclp {
                trigger-keys = <SEMICOLON>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp RPAR>;
            };

            akt_pp {
                trigger-keys = <P>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp P>;
            };

            akt_dd {
                trigger-keys = <D>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp D>;
            };

            akt_rr {
                trigger-keys = <R>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp R>;
            };

            akt_ss {
                trigger-keys = <S>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp S>;
            };

            akt_mm {
                trigger-keys = <M>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp M>;
            };

            akt_xh {
                trigger-keys = <X>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp H>;
            };

            akt_bb {
                trigger-keys = <B>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp B>;
            };

            akt_cc {
                trigger-keys = <C>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp C>;
            };

            akt_ll {
                trigger-keys = <L>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp L>;
            };

            akt_ww {
                trigger-keys = <W>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp W>;
            };

            akt_vv {
                trigger-keys = <V>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp V>;
            };
        };

        arc_ru_right: arc_ru_right {
            compatible = "zmk,behavior-adaptive-key";
            #binding-cells = <0>;
            bindings = <&key_repeat>;

            akt_yay {
                trigger-keys = <Z>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp Q>;
            };

            akt_oa {
                trigger-keys = <J>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp F>;
            };

            akt_nn {
                trigger-keys = <Y>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp Y>;
            };

            akt_fya {
                trigger-keys = <A>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp Z>;
            };

            akt_apa {
                trigger-keys = <APOS>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp F>;
            };

            akt_mnsp {
                trigger-keys = <MINUS>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp SPACE>;
            };

            akt_lprn {
                trigger-keys = <LPAR>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp RPAR>;
            };

            akt_yf {
                trigger-keys = <Q>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp A>;
            };

            akt_khkh {
                trigger-keys = <LBKT>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp LBKT>;
            };

            akt_edot {
                trigger-keys = <T>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp SLASH>;
            };

            akt_pp {
                trigger-keys = <G>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp G>;
            };

            akt_tt {
                trigger-keys = <N>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp N>;
            };

            akt_ao {
                trigger-keys = <F>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp J>;
            };

            akt_ll {
                trigger-keys = <K>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp K>;
            };

            akt_rr {
                trigger-keys = <H>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp H>;
            };

            akt_shsh {
                trigger-keys = <I>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp I>;
            };

            akt_schn {
                trigger-keys = <O>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp Y>;
            };

            akt_ui {
                trigger-keys = <E>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp B>;
            };

            akt_dotsp {
                trigger-keys = <SLASH>;
                max-prior-idle-ms = <1000>;
                bindings = <&sp_shift>;
            };

            akt_yuzp {
                trigger-keys = <DOT>;
                max-prior-idle-ms = <1000>;
                bindings = <&comma_sp_ru>;
            };

            akt_zhzh {
                trigger-keys = <SEMICOLON>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp SEMICOLON>;
            };

            akt_zz {
                trigger-keys = <P>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp P>;
            };

            akt_vv {
                trigger-keys = <D>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp D>;
            };

            akt_kk {
                trigger-keys = <R>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp R>;
            };

            akt_yii {
                trigger-keys = <S>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp B>;
            };

            akt__yiyu {
                trigger-keys = <M>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp DOT>;
            };

            akt_chch {
                trigger-keys = <X>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp X>;
            };

            akt_bb {
                trigger-keys = <COMMA>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp COMMA>;
            };

            akt_iu {
                trigger-keys = <B>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp E>;
            };

            akt_stv {
                trigger-keys = <C>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp RBKT>;
            };

            akt_dd {
                trigger-keys = <L>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp L>;
            };

            akt_tztz {
                trigger-keys = <W>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp W>;
            };

            akt_mm {
                trigger-keys = <V>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp V>;
            };
        };

        up_: up_ {
            compatible = "zmk,behavior-mod-morph";
            label = "UP_";
            bindings = <&kp UNDERSCORE>, <&kp AMPERSAND>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT|MOD_LSFT)>;
        };

        up_min: up_min {
            compatible = "zmk,behavior-mod-morph";
            label = "UP_MIN";
            bindings = <&kp MINUS>, <&kp LPAR>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        up_slash: up_slash {
            compatible = "zmk,behavior-mod-morph";
            label = "UP_SLASH";
            bindings = <&kp SLASH>, <&kp ASTERISK>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        up_dot: up_dot {
            compatible = "zmk,behavior-mod-morph";
            label = "UP_DOT";
            bindings = <&kp PERIOD>, <&kp SEMI>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        upcomma_en: upcomma_en {
            compatible = "zmk,behavior-mod-morph";
            label = "UPCOMMA_EN";
            bindings = <&commaspace_en>, <&kp QUESTION>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        upcomma_ru: upcomma_ru {
            compatible = "zmk,behavior-mod-morph";
            label = "UPCOMMA_RU";
            bindings = <&commspace_ru>, <&kp AMPERSAND>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        altcomma_en: altcomma_en {
            compatible = "zmk,behavior-mod-morph";
            label = "ALTCOMMA_EN";
            bindings = <&ctrl_comma_en>, <&kp COMMA>;

            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
        };

        altcomma_ru: altcomma_ru {
            compatible = "zmk,behavior-mod-morph";
            label = "ALTCOMMA_RU";
            bindings = <&ctrl_comma_ru>, <&kp QUESTION>;

            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
        };

        rep_nav: rep_nav {
            compatible = "zmk,behavior-hold-tap";
            label = "REP_NAV";
            bindings = <&mo>, <&key_repeat>;

            #binding-cells = <2>;
            hold-while-undecided;
            flavor = "balanced";
            tapping-term-ms = <150>;
        };

        rucomma_nav: rucomma_nav {
            compatible = "zmk,behavior-hold-tap";
            label = "RUCOMMA_NAV";
            bindings = <&mo>, <&altcomma_ru>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
            hold-while-undecided;
        };

        alt_min: alt_min {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_MIN";
            bindings = <&ctrl_min>, <&kp RA(NUMBER_6)>;

            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
        };

        alt_slash: alt_slash {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_SLASH";
            bindings = <&ctrl_slash>, <&kp AT_SIGN>;

            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
        };

        alt_: alt_ {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_";
            bindings = <&ctrl_>, <&kp BACKSLASH>;

            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
        };

        alt_dot_en: alt_dot_en {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_DOT_EN";
            bindings = <&ctrl_dot_en>, <&kp HASH>;

            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
        };

        ru_dot: ru_dot {
            compatible = "zmk,behavior-mod-morph";
            label = "RU_DOT";
            bindings = <&kp SLASH>, <&kp DLLR>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        alt_dot_ru: alt_dot_ru {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_DOT_RU";
            bindings = <&ctrl_dot_ru>, <&kp HASH>;

            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
        };

        ctrl_min: ctrl_min {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRL_MIN";
            bindings = <&up_min>, <&kp RPAR>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        ctrl_comma_en: ctrl_comma_en {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRL_COMMA_EN";
            bindings = <&upcomma_en>, <&kp EQUAL>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        ctrl_dot_en: ctrl_dot_en {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRL_DOT_EN";
            bindings = <&up_dot>, <&kp COLON>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        ctrl_: ctrl_ {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRL_";
            bindings = <&up_>, <&kp PIPE>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        ctrl_slash: ctrl_slash {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRL_SLASH";
            bindings = <&up_slash>, <&kp GT>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        up_inch: up_inch {
            compatible = "zmk,behavior-mod-morph";
            label = "UP_INCH";
            bindings = <&kp DOUBLE_QUOTES>, <&kp SQT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        ctrl_inch: ctrl_inch {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRL_INCH";
            bindings = <&up_inch>, <&kp LT>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        alt_inch: alt_inch {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_INCH";
            bindings = <&ctrl_inch>, <&kp GRAVE>;

            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
        };

        ctrl_comma_ru: ctrl_comma_ru {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRL_COMMA_RU";
            bindings = <&upcomma_ru>, <&kp EQUAL>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        up_dot_ru: up_dot_ru {
            compatible = "zmk,behavior-mod-morph";
            label = "UP_DOT_RU";
            bindings = <&ru_dot>, <&kp DOLLAR>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        ctrl_dot_ru: ctrl_dot_ru {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRL_DOT_RU";
            bindings = <&up_dot_ru>, <&kp CARET>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        up_slash_ru: up_slash_ru {
            compatible = "zmk,behavior-mod-morph";
            label = "UP_SLASH_RU";
            bindings = <&ru_slash>, <&kp ASTRK>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        ctrl_slash_ru: ctrl_slash_ru {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRL_SLASH_RU";
            bindings = <&up_slash_ru>, <&kp RA(LS(L))>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        alt_slash_ru: alt_slash_ru {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_SLASH_RU";
            bindings = <&ctrl_slash_ru>, <&kp AT_SIGN>;

            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
        };

        ru_up_: ru_up_ {
            compatible = "zmk,behavior-mod-morph";
            label = "RU_UP_";
            bindings = <&kp UNDERSCORE>, <&kp RA(N7)>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT|MOD_LSFT)>;
        };

        ctrl_ru_: ctrl_ru_ {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRL_RU_";
            bindings = <&ru_up_>, <&kp RA(BACKSLASH)>;

            #binding-cells = <0>;
            mods = <(MOD_RCTL|MOD_LCTL)>;
        };

        alt_ru_: alt_ru_ {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_RU_";
            bindings = <&ctrl_ru_>, <&kp BACKSLASH>;

            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
        };

        ru_upinch: ru_upinch {
            compatible = "zmk,behavior-mod-morph";
            label = "RU_UPINCH";
            bindings = <&kp RA(NUMBER_2)>, <&ru_apostrophe>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        ctrl_ru_inch: ctrl_ru_inch {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRL_RU_INCH";
            bindings = <&ru_upinch>, <&kp RA(L)>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        alt_ru_inch: alt_ru_inch {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_RU_INCH";
            bindings = <&ctrl_ru_inch>, <&kp RA(GRAVE)>;

            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
        };

        lt_bk: lt_bk {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_BK";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <200>;
            flavor = "balanced";
        };

        arcane_left_en: arcane_left_en {
            compatible = "zmk,behavior-hold-tap";
            label = "ARCANE_LEFT_EN";
            bindings = <&kp>, <&arc_en_left>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        arcane_left_ru: arcane_left_ru {
            compatible = "zmk,behavior-hold-tap";
            label = "ARCANE_LEFT_RU";
            bindings = <&kp>, <&arc_ru_left>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        arcane_right_en: arcane_right_en {
            compatible = "zmk,behavior-hold-tap";
            label = "ARCANE_RIGHT_EN";
            bindings = <&kp>, <&arc_en_right>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        arcane_right_ru: arcane_right_ru {
            compatible = "zmk,behavior-hold-tap";
            label = "ARCANE_RIGHT_RU";
            bindings = <&kp>, <&arc_ru_right>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        layer_sft: layer_sft {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_SFT";
            bindings = <&mo>, <&sk>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        holdctrl_skalt: holdctrl_skalt {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLDCTRL_SKALT";
            bindings = <&kp>, <&sk>;

            #binding-cells = <2>;
            hold-trigger-on-release;
            tapping-term-ms = <170>;
            quick-tap-ms = <125>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
        };

        layer_dashtap: layer_dashtap {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_DASHTAP";
            bindings = <&lt>, <&emdash_spaced>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <150>;
            quick-tap-ms = <125>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
        };
    };

    combos {
        compatible = "zmk,combos";

        kha {
            bindings = <&kp LBKT>;
            key-positions = <6 7>;
            layers = <0>;
        };

        hrdsgn {
            bindings = <&kp RBKT>;
            key-positions = <7 8>;
            layers = <0>;
        };

        TO_RU {
            bindings = <&KB_RU>;
            key-positions = <28 29>;
            layers = <0>;
        };

        TO_EN {
            bindings = <&KB_EN>;
            key-positions = <28 29>;
            layers = <1>;
        };

        z {
            bindings = <&kp Z>;
            key-positions = <16 17>;
            layers = <0>;
        };

        undr {
            bindings = <&alt_ru_>;
            key-positions = <13 14>;
            layers = <1>;
        };

        rusinch {
            bindings = <&alt_ru_inch>;
            key-positions = <7 8>;
            layers = <1>;
        };

        th_alt {
            bindings = <&kp LEFT_ALT>;
            key-positions = <34 33>;
        };

        th_ctrl {
            bindings = <&kp LCTRL>;
            key-positions = <32 33>;
        };

        en_lbr {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <16 6>;
            layers = <0>;
        };

        en_rbr {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <17 7>;
            layers = <0>;
        };

        ru_rbrc {
            bindings = <&ru_rbr>;
            key-positions = <17 7>;
            layers = <1>;
        };

        ru_lbrc {
            bindings = <&ru_lbr>;
            key-positions = <16 6>;
            layers = <1>;
        };

        ru_tz {
            bindings = <&kp W>;
            key-positions = <16 17>;
            layers = <1>;
        };

        ru_minus {
            bindings = <&alt_min>;
            key-positions = <3 4>;
            layers = <1>;
        };

        ru_sl {
            bindings = <&alt_slash_ru>;
            key-positions = <24 25>;
        };

        c_s {
            bindings = <&kp LC(S)>;
            key-positions = <13 12>;
            layers = <0 1>;
        };

        c_c {
            bindings = <&kp LC(C)>;
            key-positions = <13 3>;
            layers = <0 1>;
        };

        c_x {
            bindings = <&kp LC(X)>;
            key-positions = <14 4>;
            layers = <0 1>;
        };

        c_v {
            bindings = <&kp LC(V)>;
            key-positions = <12 2>;
        };

        f_shmn {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <6 7>;
            layers = <1>;
        };

        c_z {
            bindings = <&kp LC(Z)>;
            key-positions = <23 24>;
            layers = <0 1>;
        };

        cs_z {
            bindings = <&kp LS(LC(Z))>;
            key-positions = <22 23>;
            layers = <0 1>;
        };

        rth_alt {
            bindings = <&kp LEFT_ALT>;
            key-positions = <35 36>;
        };

        rth_gui {
            bindings = <&kp LGUI>;
            key-positions = <36 37>;
        };

        tvrd {
            bindings = <&kp SQT>;
            key-positions = <3 2>;
            layers = <1>;
        };

        ru_sch {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <17 18>;
            layers = <1>;
        };

        ru_sch2 {
            bindings = <&kp O>;
            key-positions = <27 28>;
            layers = <1>;
        };

        mrck2 {
            bindings = <&mkp MB2>;
            key-positions = <23 12>;
        };

        mmck {
            bindings = <&mkp MB3>;
            key-positions = <22 11>;
        };

        mlcck {
            bindings = <&mkp LCLK>;
            key-positions = <24 13>;
        };

        ShiftEnter {
            bindings = <&kp LS(ENTER)>;
            key-positions = <26 27>;
            layers = <2 11>;
        };

        CtrlEnter {
            bindings = <&kp LC(ENTER)>;
            key-positions = <26 27 28>;
            layers = <2 11>;
        };

        CtrlBksp {
            bindings = <&kp LC(BACKSPACE)>;
            key-positions = <27 28>;
            layers = <2 11>;
        };

        Ralt1 {
            bindings = <&sk RIGHT_ALT>;
            key-positions = <14 25>;
        };

        Ralt2 {
            bindings = <&sk RIGHT_ALT>;
            key-positions = <26 15>;
        };

        line_up_nav {
            bindings = <&new_line_up>;
            key-positions = <24 23>;
            layers = <2>;
        };

        copy_string_nav {
            bindings = <&copy_string>;
            key-positions = <22 23>;
            layers = <2>;
        };

        not_equal {
            bindings = <&not_equal_macro>;
            key-positions = <5 15>;
        };
    };

    macros {
        KB_EN: KB_EN {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LC(LA(NUMBER_6))>,
                <&macro_wait_time 25>,
                <&to 0>,
                <&macro_wait_time 25>;

            label = "KB_EN";
        };

        KB_RU: KB_RU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LC(LA(N7))>,
                <&macro_wait_time 25>,
                <&to 1>,
                <&macro_wait_time 25>;

            label = "KB_RU";
        };

        commaspace_en: dotspace_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp COMMA &kp SPACE>;
            label = "DOTSPACE_EN";
        };

        commspace_ru: dotspace_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp QUESTION &kp SPACE>;
            label = "DOTSPACE_RU";
        };

        ru_dollar: ru_dollar {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 30>,
                <&kp LS(NUMBER_4)>,
                <&macro_wait_time 30>,
                <&KB_RU>;

            label = "RU_DOLLAR";
        };

        ru_hash: ru_hash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 30>,
                <&kp HASH>,
                <&macro_wait_time 30>,
                <&KB_RU>;

            label = "RU_HASH";
        };

        ru_pipe: ru_pipe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 30>,
                <&kp PIPE>,
                <&macro_wait_time 30>,
                <&KB_RU>;

            label = "RU_PIPE";
        };

        ru_tilda: ru_tilda {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 30>,
                <&kp TILDE>,
                <&macro_wait_time 30>,
                <&KB_RU>;

            label = "RU_TILDA";
        };

        ru_grave: ru_grave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 30>,
                <&kp GRAVE>,
                <&macro_wait_time 30>,
                <&KB_RU>;

            label = "RU_GRAVE";
        };

        ru_emdash: ru_emdash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 30>,
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp N2 &kp N0 &kp N1 &kp N4 &kp ENTER>,
                <&macro_wait_time 30>,
                <&KB_RU>;

            label = "RU_EMDASH";
        };

        en_emdash: en_emdash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp N2 &kp N0 &kp N1 &kp N4 &kp ENTER>,
                <&macro_wait_time 10>;

            label = "EN_EMDASH";
        };

        ru_at: ru_at {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 30>,
                <&kp AT_SIGN>,
                <&macro_wait_time 30>,
                <&KB_RU>;

            label = "RU_AT";
        };

        en_rdq: en_rdq {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp N0 &kp N0 &kp B &kp B &kp ENTER>,
                <&macro_wait_time 10>;

            label = "EN_RDQ";
        };

        ru_ldq: ru_ldq {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 10>,
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp N0 &kp N0 &kp A &kp B &kp ENTER>,
                <&macro_wait_time 10>,
                <&KB_RU>;

            label = "RU_LDQ";
        };

        ru_rdq: ru_rdq {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 10>,
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp N0 &kp N0 &kp B &kp B &kp ENTER>,
                <&macro_wait_time 10>,
                <&KB_RU>;

            label = "RU_RDQ";
        };

        en_ldq: en_ldq {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp N0 &kp N0 &kp A &kp B &kp ENTER>,
                <&macro_wait_time 10>;

            label = "EN_LDQ";
        };

        ru_lbr: ru_lbr {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 10>,
                <&kp LEFT_BRACE>,
                <&macro_wait_time 10>,
                <&KB_RU>;

            label = "RU_LBR";
        };

        ru_rbr: ru_rbr {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 10>,
                <&kp RIGHT_BRACE>,
                <&macro_wait_time 10>,
                <&KB_RU>;

            label = "RU_RBR";
        };

        ru_lt: ru_lt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 10>,
                <&kp LESS_THAN>,
                <&macro_wait_time 10>,
                <&KB_RU>;

            label = "RU_LT";
        };

        ru_gt: ru_gt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 10>,
                <&kp GREATER_THAN>,
                <&macro_wait_time 10>,
                <&KB_RU>;

            label = "RU_GT";
        };

        en_endash: en_endash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp NUMBER_2 &kp NUMBER_0 &kp N1 &kp NUMBER_3 &kp ENTER>,
                <&macro_wait_time 10>;

            label = "EN_ENDASH";
        };

        ru_endash: ru_endash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 10>,
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp NUMBER_2 &kp NUMBER_0 &kp N1 &kp NUMBER_3 &kp ENTER>,
                <&macro_wait_time 10>,
                <&KB_RU>;

            label = "RU_ENDASH";
        };

        en_number: en_number {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_RU>,
                <&macro_wait_time 10>,
                <&kp LS(NUMBER_3)>,
                <&macro_wait_time 10>,
                <&KB_EN>;

            label = "EN_NUMBER";
        };

        ru_caret: ru_krs {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 10>,
                <&kp CARET>,
                <&macro_wait_time 10>,
                <&KB_RU>;

            label = "RU_KRS";
        };

        ru_apostrophe: ru_up_inch {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 40>,
                <&kp SQT>,
                <&macro_wait_time 30>,
                <&KB_RU>;

            label = "RU_UP_INCH";
        };

        ru_amprsnd: ru_amprsnd {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 30>,
                <&kp LS(N7)>,
                <&macro_wait_time 30>,
                <&KB_RU>;

            label = "RU_AMPRSND";
        };

        ru_slash: ru_slash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 40>,
                <&kp SLASH>,
                <&macro_wait_time 40>,
                <&KB_RU>;

            label = "RU_SLASH";
        };

        ru_bkslsh: ru_backslash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 10>,
                <&kp BACKSLASH>,
                <&macro_wait_time 10>,
                <&KB_RU>;

            label = "RU_BACKSLASH";
        };

        new_line_down: new_line_down {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp END>, <&macro_wait_time 0>, <&kp LS(ENTER)>;

            label = "NEW_LINE_DOWN";
        };

        new_line_up: new_line_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp HOME>, <&macro_wait_time 0>, <&kp LS(ENTER)>;

            label = "NEW_LINE_UP";
        };

        cut_string: cut_string {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp HOME>,
                <&macro_wait_time 0>,
                <&kp LS(DOWN)>,
                <&macro_wait_time 0>,
                <&kp LC(X)>;

            label = "CUT_STRING";
        };

        copy_string: copy_string {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp HOME>,
                <&macro_wait_time 0>,
                <&kp LS(DOWN)>,
                <&macro_wait_time 0>,
                <&kp LC(C)>;

            label = "COPY_STRING";
        };

        sp_shift: sp_shift {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SPACE>, <&macro_wait_time 5>, <&sk LEFT_SHIFT>;

            label = "SP_SHIFT";
        };

        comma_sp_ru: comma_sp_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp QUESTION>, <&macro_wait_time 5>, <&kp SPACE>;

            label = "COMMA_SPACE_RU";
        };

        ing: ing {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp I &kp N &kp G>;
            label = "ING";
        };

        ru_hypenminus: ru_hypenminus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 30>,
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp N0 &kp N0 &kp NUMBER_2 &kp D &kp ENTER>,
                <&macro_wait_time 30>,
                <&KB_RU>;

            label = "RU_HYPENMINUS";
        };

        en_hyperminus: en_hyperminus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp N0 &kp N0 &kp NUMBER_2 &kp D &kp ENTER>,
                <&macro_wait_time 30>;

            label = "EN_HYPERMINUS";
        };

        ru_figuredash: ru_figuredash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 30>,
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp NUMBER_2 &kp N0 &kp NUMBER_1 &kp NUMBER_2 &kp ENTER>,
                <&macro_wait_time 30>,
                <&KB_RU>;

            label = "RU_FIGUREDASH";
        };

        en_figuredash: en_figuredash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp NUMBER_2 &kp N0 &kp NUMBER_1 &kp NUMBER_2 &kp ENTER>,
                <&macro_wait_time 30>;

            label = "EN_FIGUREDASH";
        };

        ru_tenge: ru_tenge {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 30>,
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp NUMBER_2 &kp N0 &kp B &kp N8 &kp ENTER>,
                <&macro_wait_time 30>,
                <&KB_RU>;

            label = "RU_TENGE";
        };

        en_tenge: en_tenge {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp NUMBER_2 &kp N0 &kp B &kp N8 &kp ENTER>,
                <&macro_wait_time 30>;

            label = "EN_TENGE";
        };

        ru_mngt: ru_mngt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 30>,
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp NUMBER_2 &kp N0 &kp NUMBER_2 &kp NUMBER_6 &kp ENTER>,
                <&macro_wait_time 30>,
                <&KB_RU>;

            label = "RU_MNGT";
        };

        en_mngt: en_mngt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp NUMBER_2 &kp N0 &kp NUMBER_2 &kp NUMBER_6 &kp ENTER>,
                <&macro_wait_time 30>;

            label = "EN_MNGT";
        };

        ru_quex: ru_quex {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 30>,
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp NUMBER_2 &kp N0 &kp NUMBER_4 &kp N8 &kp ENTER>,
                <&macro_wait_time 30>,
                <&KB_RU>;

            label = "RU_QUEX";
        };

        en_quex: en_quex {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp NUMBER_2 &kp N0 &kp NUMBER_4 &kp N8 &kp ENTER>,
                <&macro_wait_time 30>;

            label = "EN_QUEX";
        };

        not_equal_macro: not_equal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EXCL &kp EQUAL>;
            label = "NOT_EQUAL";
        };

        en_emdash_spaced: en_emdash_spaced {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp SPACE>,
                <&macro_wait_time 5>,
                <&en_emdash>,
                <&macro_wait_time 5>,
                <&kp SPACE>;

            label = "EN_EMDASH_SPACED";
        };

        ru_emdash_spaced: ru_emdash_spaced {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp SPACE>,
                <&macro_wait_time 5>,
                <&ru_emdash>,
                <&macro_wait_time 5>,
                <&kp SPACE>;

            label = "RU_EMDASH_SPACED";
        };

        emdash_spaced: emdash_spaced {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SPACE &kp RA(MINUS) &kp SPACE>;
            label = "EMDASH_SPACED";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        en_base {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "BASE";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃     Q     ┃     W     ┃     F     ┃     P     ┃     G     ┃   ┃     J     ┃     L     ┃     U     ┃     Y     ┃     ;     ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃     A     ┃     R     ┃     S     ┃     T     ┃     D     ┃   ┃     H     ┃     N     ┃     E     ┃     I     ┃     O     ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃     Q     ┃     Z     ┃     X     ┃     C     ┃     V     ┃     B     ┃   ┃     K     ┃     M     ┃     ,     ┃     .     ┃     /     ┃     \     ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃    DEL    ┃    TAB    ┃    SPC    ┃   ┃   ENTER   ┃           ┃   BSPC    ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
                    &kp J  &kp Y  &kp A      &kp U                    &alt_min       &kp Q    &kp G                     &kp N                           &kp F  &kp K
                    &kp H  &kp I  &kp O      &kp E                    &alt_dot_en    &kp P    &kp D                     &kp R                           &kp S  &kp M
&lt 8 C_PLAY_PAUSE  &kp X  &alt_  &alt_inch  &altcomma_en             &alt_slash     &kp B    &kp C                     &kp L                           &kp W  &kp V  &kp Z
                                  &lt 7 TAB  &arcane_left_en LSHFT 0  &lt 2 SPACE    &lt 3 T  &arcane_right_en RSHFT 0  &holdctrl_skalt LCTRL LEFT_ALT
            >;
        };

        ru {
            bindings = <
           &kp A  &kp E  &kp F   &kp DOT                  &alt_min       &kp I      &kp V                     &kp Y   &kp R  &kp P
           &kp Z  &kp B  &kp J   &kp T                    &alt_dot_ru    &kp U      &kp N                     &kp H   &kp D  &kp X
&lt 8 SQT  &kp Q  &kp S  &kp M   &altcomma_ru             &kp GRAVE      &kp COMMA  &kp L                     &kp K   &kp G  &kp SEMICOLON  &kp W
                         &trans  &arcane_left_ru LSHFT 0  &trans         &lt 4 C    &arcane_right_ru RSHFT 0  &trans
            >;
        };

        nav_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "NAVI";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃           ┃           ┃     UP    ┃           ┃     {     ┃   ┃     }     ┃     7     ┃     8     ┃     9     ┃     +     ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃   SHIFT   ┃   LEFT    ┃    DOWN   ┃   RIGHT   ┃     [     ┃   ┃     ]     ┃     4     ┃     5     ┃     6     ┃     -     ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃           ┃           ┃   P UP    ┃  C LOCK   ┃  P DOWN   ┃     (     ┃   ┃     )     ┃     1     ┃     2     ┃     3     ┃     *     ┃           ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃           ┃    TAB    ┃    SPC    ┃   ┃    DEL    ┃     0     ┃           ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
            &kp LS(DELETE)   &kp LS(HOME)  &kp LS(UP)      &kp LS(END)    &kp LC(LS(HOME))    &kp LC(HOME)  &kp HOME            &kp UP_ARROW    &kp END          &kp PAGE_UP
            &lt 5 LS(LC(K))  &kp LS(LEFT)  &kp LS(DOWN)    &kp LS(RIGHT)  &kp LS(LC(END))     &kp LC(END)   &kp LEFT_ARROW      &kp DOWN_ARROW  &kp RIGHT_ARROW  &lt 5 PG_DN
&kp C_PREV  &mo 8            &cut_string   &new_line_down  &kp ESC        &kp DEL             &kp ENTER     &kp BACKSPACE       &kp DELETE      &kp INS          &kp PRINTSCREEN  &kp C_NEXT
                                           &trans          &trans         &trans              &mo 11        &layer_sft 6 RSHFT  &kp LCTRL
            >;
        };

        sym_en {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "SYM_EN";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃     !     ┃     @     ┃     #     ┃     $     ┃     %     ┃   ┃     ˆ     ┃     &     ┃     Ü     ┃     '     ┃     "     ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃     Ä     ┃           ┃    SZ     ┃           ┃           ┃   ┃   MUTE    ┃   YEN     ┃   EURO    ┃  POUND    ┃     Ö     ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃           ┃  EMAIL1   ┃  EMAIL2   ┃           ┃           ┃           ┃   ┃   VOL-    ┃   VOL+    ┃   LAST    ┃   NEXT    ┃     \     ┃           ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃           ┃    GIF    ┃    ADJ    ┃   ┃           ┃           ┃           ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
              &kp F10            &kp F9        &kp F4          &kp F3         &alt_min               &kp PLUS           &kp N7               &kp N8               &kp N9              &kp RA(NUMBER_3)
              &hml LEFT_GUI F11  &hml LALT F8  &hml LCTRL F5   &hml LSHFT F2  &kp EXCLAMATION        &kp N0             &hmr RSHFT NUMBER_1  &hmr LCTRL NUMBER_2  &hmr LALT NUMBER_3  &hmr LEFT_GUI PERCENT
&kp LEFT_GUI  &kp F12            &kp F7        &kp F6          &kp F1         &kp DLLR               &kp RA(SEMICOLON)  &kp NUMBER_4         &kp N5               &lt 9 NUMBER_6      &kp TILDE              &kp LC(EQUAL)
                                               &kp RA(PERIOD)  &kp RA(COMMA)  &layer_dashtap 11 0    &trans             &trans               &trans
            >;
        };

        sym_ru {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "SYM_RU";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃   RESET   ┃ BT CLEAR  ┃  OUT TOG  ┃           ┃           ┃   ┃           ┃    F7     ┃    F8     ┃    F9     ┃    F12    ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃ BOOTLOAD  ┃ BT NEXT   ┃           ┃           ┃           ┃   ┃           ┃    F4     ┃    F5     ┃    F6     ┃    F11    ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃           ┃           ┃ BT PREV   ┃           ┃           ┃           ┃   ┃           ┃    F1     ┃    F2     ┃    F3     ┃    F10    ┃           ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
              &kp F10            &kp F9            &kp F4          &kp F3         &alt_min               &kp PLUS           &kp N7               &kp N8               &kp N9              &kp RA(NUMBER_3)
              &hml LEFT_GUI F11  &hml LEFT_ALT F8  &hml LCTRL F5   &hml LSHFT F2  &kp EXCLAMATION        &kp N0             &hmr LSHFT NUMBER_1  &hmr LCTRL NUMBER_2  &hmr LALT NUMBER_3  &hmr LEFT_GUI PERCENT
&kp LEFT_GUI  &kp F12            &kp F7            &kp F6          &kp F1         &kp RA(NUMBER_4)       &kp RA(SEMICOLON)  &kp NUMBER_4         &kp N5               &lt 10 NUMBER_6     &kp RA(LS(GRAVE))      &kp EQUAL
                                                   &kp RA(PERIOD)  &kp RA(COMMA)  &layer_dashtap 11 0    &trans             &trans               &trans
            >;
        };

        adj {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "adj";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃ NEXT FILE ┃ MARK IN   ┃ ROTATE    ┃ MARK OUT  ┃ SHOW SNAP ┃   ┃           ┃           ┃           ┃           ┃           ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃ TVP II    ┃ LEFT      ┃ PAN       ┃ RIGHT     ┃ PLAY/FLIP ┃   ┃           ┃           ┃           ┃           ┃           ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃ FULLSCR   ┃ SHIFT     ┃ COPY      ┃ DELETE    ┃ PASTE     ┃ IMG MARK  ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃           ┃ UNDO/SAVE ┃  SEL/MOV  ┃   ┃           ┃           ┃           ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
            &bootloader   &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1      &bt BT_SEL 0         &kp C_MUTE       &kp F3  &kp F4  &kp F9  &kp F10
            &kp LEFT_GUI  &kp LALT      &kp LCTRL     &kp LSHFT         &kp C_VOLUME_DOWN    &kp C_VOLUME_UP  &kp F2  &kp F5  &kp F8  &kp F11
&bt BT_PRV  &bt BT_CLR    &out OUT_BLE  &out OUT_USB  &kp C_PLAY_PAUSE  &kp C_PREV           &kp C_NEXT       &kp F1  &kp F6  &kp F7  &kp F12  &bt BT_NXT
                                        &trans        &trans            &trans               &trans           &trans  &trans
            >;
        };

        khronkite {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "khrnkt";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃ SOLO      ┃ TOGGLE IN ┃ RESET ROT ┃ TOGGLE OUT┃ TAKE SNAP ┃   ┃           ┃           ┃           ┃           ┃           ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃ ---       ┃ LAST KEY  ┃ NEW KEY   ┃ NEXT KEY  ┃ ENTER     ┃   ┃           ┃           ┃           ┃           ┃           ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃           ┃ FULLSCR   ┃ CPY2BRUSH ┃ DEL HEAD  ┃ PSTinPLACE┃ BOOK MARK ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃           ┃ REDO/SAV1 ┃TRANS/WARP ┃   ┃           ┃           ┃           ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
        &kp LG(LA(Q))  &kp LA(LG(O))  &kp LS(LG(K))  &kp LA(LG(R))  &kp LA(LG(T))    &kp LG(F)             &kp LS(LA(F8))  &kp LS(LA(F9))  &kp LS(LA(F10))  &kp LS(LA(F11))
        &kp LA(LG(F))  &kp LS(LG(H))  &kp LS(LG(J))  &kp LS(LG(L))  &kp LA(LG(Y))    &kp LS(LG(UP_ARROW))  &kp LC(F1)      &kp LC(F2)      &kp LC(F3)       &kp LC(F4)
&trans  &kp LG(M)      &kp LC(LG(K))  &kp LC(LG(H))  &kp LG(LC(L))  &kp LC(LG(J))    &kp LS(LG(DOWN))      &kp LG(M)       &kp LA(F3)      &kp LG(LC(A))    &kp LG(LC(D))    &trans
                                      &kp LG(ENTER)  &kp LG(K)      &kp LG(J)        &trans                &trans          &trans
            >;
        };

        Shortcuts {
            bindings = <
        &kp LC(W)      &kp LC(Q)  &kp LC(LS(I))  &kp LS(LC(R))  &kp LC(T)    &kp LC(MINUS)  &kp LC(D)  &kp LC(N)          &kp LS(LC(M))  &kp LC(MINUS)
        &kp LS(LC(K))  &kp LC(L)  &kp LC(S)      &kp LC(A)      &kp LC(F)    &kp LC(EQUAL)  &kp LC(P)  &kp LS(LA(LC(E)))  &kp LC(O)      &kp LC(PLUS)
&trans  &kp LC(Q)      &kp LA(Z)  &kp LC(G)      &kp LC(R)      &kp LC(H)    &kp LC(B)      &kp LC(I)  &kp LC(U)          &kp LS(LC(X))  &kp LSHFT      &trans
                                  &trans         &trans         &trans       &kp LS(LC(Z))  &kp LC(Z)  &kp LC(W)
            >;
        };

        Mouse {
            bindings = <
       &trans        &sk LC(LALT)  &sk LS(LA(LCTRL))  &sk LS(LCTRL)  &trans    &msc SCRL_UP    &mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &trans
       &kp LEFT_GUI  &kp LALT      &sk LCTRL          &sk LSHFT      &trans    &msc SCRL_DOWN  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans
&mo 8  &mo 8         &trans        &trans             &trans         &trans    &trans          &msc SCRL_LEFT  &mkp MCLK       &msc SCRL_RIGHT  &trans  &trans
                                   &trans             &trans         &trans    &trans          &trans          &trans
            >;
        };

        Fadein {
            bindings = <
        &trans  &trans  &trans   &trans     &trans               &trans          &trans          &trans  &trans  &trans
        &trans  &trans  &trans   &en_tenge  &en_mngt             &en_emdash      &en_endash      &trans  &trans  &trans
&trans  &trans  &trans  &trans   &en_quex   &trans               &en_hyperminus  &en_figuredash  &trans  &trans  &trans  &trans
                        &en_rdq  &en_ldq    &en_emdash_spaced    &trans          &trans          &trans
            >;
        };

        Fadeinru {
            bindings = <
        &trans  &trans  &trans   &trans     &trans               &trans          &trans          &trans  &trans  &trans
        &trans  &trans  &trans   &ru_tenge  &ru_mngt             &ru_emdash      &ru_endash      &trans  &trans  &trans
&trans  &trans  &trans  &trans   &ru_quex   &trans               &ru_hypenminus  &ru_figuredash  &trans  &trans  &trans  &trans
                        &ru_rdq  &ru_ldq    &ru_emdash_spaced    &trans          &trans          &trans
            >;
        };

        unicode {
            bindings = <
        &kp LALT   &kp RA(E)  &kp RA(F)  &kp RA(X)  &kp RA(I)               &kp RA(D)  &kp RA(A)  &kp RA(Y)          &kp RA(R)      &kp RA(V)
        &kp RA(H)  &kp RA(B)  &kp RA(J)  &kp LSHFT  &kp RS(RA(NUMBER_6))    &kp RA(U)  &kp LSHFT  &kp RA(LS(MINUS))  &kp RA(C)      &kp RA(N5)
&trans  &kp LGUI   &kp RA(S)  &kp RA(O)  &kp RA(Z)  &kp RA(MINUS)           &kp ENTER  &kp BSPC   &kp DEL            &kp RA(SLASH)  &kp RA(LS(NUMBER_3))  &trans
                              &trans     &trans     &trans                  &trans     &trans     &trans
            >;
        };
    };
};
