//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3
#define TVP1 4
#define TVP2 5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {
    behaviors {
        hml: hrm_left {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            quick-tap-ms = <125>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <5 6 7 8 9 31 30 19 18 17 28 16 15 29 27 26 37 36 35>;
        };

        hmr: hrm_right {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            quick-tap-ms = <125>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <20 10 22 23 25 24 21 32 33 34 14 13 12 11 0 1 2 3 4>;
        };

        arc_en_left: arc_en_left {
            compatible = "zmk,behavior-adaptive-key";
            #binding-cells = <0>;
            bindings = <&key_repeat>;

            akt_zr {
                trigger-keys = <Z>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp R>;
            };

            akt_jj {
                trigger-keys = <J>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp J>;
            };

            akt_yy {
                trigger-keys = <Y>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp Y>;
            };

            akt_aa {
                trigger-keys = <A>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp A>;
            };

            akt_uu {
                trigger-keys = <U>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp U>;
            };

            akt_mnmn {
                trigger-keys = <MINUS>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp MINUS>;
            };

            akt_lprn {
                trigger-keys = <LPAR>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp LPAR>;
            };

            akt_qu {
                trigger-keys = <Q>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp U>;
            };

            akt_lbrb {
                trigger-keys = <LBKT>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp RBKT>;
            };

            akt_tr {
                trigger-keys = <T>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp R>;
            };

            akt_gh {
                trigger-keys = <G>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp H>;
            };

            akt_nl {
                trigger-keys = <N>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp L>;
            };

            akt_fw {
                trigger-keys = <F>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp W>;
            };

            akt_king {
                trigger-keys = <K>;
                max-prior-idle-ms = <1000>;
                bindings = <&ing>;
            };

            akt_hh {
                trigger-keys = <H>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp H>;
            };

            akt_ii {
                trigger-keys = <I>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp I>;
            };

            akt_oo {
                trigger-keys = <O>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp O>;
            };

            akt_ee {
                trigger-keys = <E>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp E>;
            };

            akt_dotdot {
                trigger-keys = <DOT>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp DOT>;
            };

            akt_scsc {
                trigger-keys = <SEMICOLON>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp SEMICOLON>;
            };

            akt_pb {
                trigger-keys = <P>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp B>;
            };

            akt_dg {
                trigger-keys = <D>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp G>;
            };

            akt_rn {
                trigger-keys = <R>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp N>;
            };

            akt_sw {
                trigger-keys = <S>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp W>;
            };

            akt_mv {
                trigger-keys = <M>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp V>;
            };

            akt_xh {
                trigger-keys = <X>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp H>;
            };

            akt_br {
                trigger-keys = <B>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp R>;
            };

            akt_ck {
                trigger-keys = <C>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp K>;
            };

            akt_ln {
                trigger-keys = <L>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp N>;
            };

            akt_ws {
                trigger-keys = <W>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp S>;
            };

            akt_vm {
                trigger-keys = <V>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp M>;
            };
        };

        arc_ru_left: arc_ru_left {
            compatible = "zmk,behavior-adaptive-key";
            #binding-cells = <0>;
            bindings = <&key_repeat>;

            akt_yaya {
                trigger-keys = <Z>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp Z>;
            };

            akt_gd {
                trigger-keys = <U>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp L>;
            };

            akt_oo {
                trigger-keys = <J>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp J>;
            };

            akt_nr {
                trigger-keys = <Y>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp R>;
            };

            akt_ff {
                trigger-keys = <A>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp A>;
            };

            akt_apap {
                trigger-keys = <APOS>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp APOS>;
            };

            akt_mnmn {
                trigger-keys = <MINUS>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp MINUS>;
            };

            akt_lprn {
                trigger-keys = <LPAR>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp LPRN>;
            };

            akt_yy {
                trigger-keys = <Q>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp Q>;
            };

            akt_khr {
                trigger-keys = <LBKT>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp H>;
            };

            akt_ee {
                trigger-keys = <T>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp T>;
            };

            akt_pn {
                trigger-keys = <G>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp Y>;
            };

            akt_tm {
                trigger-keys = <N>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp V>;
            };

            akt_aa {
                trigger-keys = <F>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp F>;
            };

            akt_ln {
                trigger-keys = <K>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp Y>;
            };

            akt_rn {
                trigger-keys = <H>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp Y>;
            };

            akt_sht {
                trigger-keys = <I>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp N>;
            };

            akt_schn {
                trigger-keys = <O>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp Y>;
            };

            akt_uu {
                trigger-keys = <E>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp E>;
            };

            akt_dotdot {
                trigger-keys = <SLASH>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp SLASH>;
            };

            akt_yuyu {
                trigger-keys = <DOT>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp DOT>;
            };

            akt_zhch {
                trigger-keys = <SEMICOLON>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp X>;
            };

            akt_zzh {
                trigger-keys = <P>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp SEMICOLON>;
            };

            akt_vk {
                trigger-keys = <D>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp R>;
            };

            akt_kp {
                trigger-keys = <R>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp G>;
            };

            akt_yiyi {
                trigger-keys = <S>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp S>;
            };

            akt__ {
                trigger-keys = <M>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp M>;
            };

            akt_chzh {
                trigger-keys = <X>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp SEMICOLON>;
            };

            akt_bsch {
                trigger-keys = <COMMA>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp O>;
            };

            akt_ii {
                trigger-keys = <B>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp B>;
            };

            akt_stv {
                trigger-keys = <C>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp RBKT>;
            };

            akt_dn {
                trigger-keys = <L>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp Y>;
            };

            akt_tzm {
                trigger-keys = <W>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp V>;
            };

            akt_mb {
                trigger-keys = <V>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp COMMA>;
            };
        };

        arc_en_right: arc_en_right {
            compatible = "zmk,behavior-adaptive-key";
            #binding-cells = <0>;
            bindings = <&key_repeat>;

            akt_zz {
                trigger-keys = <Z>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp Z>;
            };

            akt_ju {
                trigger-keys = <J>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp U>;
            };

            akt_yi {
                trigger-keys = <Y>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp I>;
            };

            akt_ao {
                trigger-keys = <A>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp O>;
            };

            akt_ue {
                trigger-keys = <U>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp E>;
            };

            akt_mngt {
                trigger-keys = <MINUS>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp GT>;
            };

            akt_lprn {
                trigger-keys = <LPAR>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp RPAR>;
            };

            akt_qq {
                trigger-keys = <Q>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp Q>;
            };

            akt_lblb {
                trigger-keys = <LBKT>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp LBKT>;
            };

            akt_th {
                trigger-keys = <T>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp H>;
            };

            akt_gg {
                trigger-keys = <G>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp G>;
            };

            akt_nn {
                trigger-keys = <N>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp N>;
            };

            akt_ff {
                trigger-keys = <F>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp F>;
            };

            akt_kk {
                trigger-keys = <K>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp K>;
            };

            akt_hy {
                trigger-keys = <H>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp Y>;
            };

            akt_iy {
                trigger-keys = <I>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp Y>;
            };

            akt_oa {
                trigger-keys = <O>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp A>;
            };

            akt_eu {
                trigger-keys = <E>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp U>;
            };

            akt_dotsp {
                trigger-keys = <DOT>;
                max-prior-idle-ms = <1000>;
                bindings = <&sp_shift>;
            };

            akt_sclp {
                trigger-keys = <SEMICOLON>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp RPAR>;
            };

            akt_pp {
                trigger-keys = <P>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp P>;
            };

            akt_dd {
                trigger-keys = <D>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp D>;
            };

            akt_rr {
                trigger-keys = <R>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp R>;
            };

            akt_ss {
                trigger-keys = <S>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp S>;
            };

            akt_mm {
                trigger-keys = <M>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp M>;
            };

            akt_xh {
                trigger-keys = <X>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp H>;
            };

            akt_bb {
                trigger-keys = <B>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp B>;
            };

            akt_cc {
                trigger-keys = <C>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp C>;
            };

            akt_ll {
                trigger-keys = <L>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp L>;
            };

            akt_ww {
                trigger-keys = <W>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp W>;
            };

            akt_vv {
                trigger-keys = <V>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp V>;
            };
        };

        arc_ru_right: arc_ru_right {
            compatible = "zmk,behavior-adaptive-key";
            #binding-cells = <0>;
            bindings = <&key_repeat>;

            akt_yay {
                trigger-keys = <Z>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp Q>;
            };

            akt_oa {
                trigger-keys = <J>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp F>;
            };

            akt_nn {
                trigger-keys = <Y>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp Y>;
            };

            akt_fya {
                trigger-keys = <A>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp Z>;
            };

            akt_apa {
                trigger-keys = <APOS>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp F>;
            };

            akt_mnsp {
                trigger-keys = <MINUS>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp SPACE>;
            };

            akt_lprn {
                trigger-keys = <LPAR>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp RPAR>;
            };

            akt_yf {
                trigger-keys = <Q>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp A>;
            };

            akt_khkh {
                trigger-keys = <LBKT>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp LBKT>;
            };

            akt_edot {
                trigger-keys = <T>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp SLASH>;
            };

            akt_pp {
                trigger-keys = <G>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp G>;
            };

            akt_tt {
                trigger-keys = <N>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp N>;
            };

            akt_ao {
                trigger-keys = <F>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp J>;
            };

            akt_ll {
                trigger-keys = <K>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp K>;
            };

            akt_rr {
                trigger-keys = <H>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp H>;
            };

            akt_shsh {
                trigger-keys = <I>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp I>;
            };

            akt_schn {
                trigger-keys = <O>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp Y>;
            };

            akt_ui {
                trigger-keys = <E>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp B>;
            };

            akt_dotsp {
                trigger-keys = <SLASH>;
                max-prior-idle-ms = <1000>;
                bindings = <&sp_shift>;
            };

            akt_yuzp {
                trigger-keys = <DOT>;
                max-prior-idle-ms = <1000>;
                bindings = <&comma_sp_ru>;
            };

            akt_zhzh {
                trigger-keys = <SEMICOLON>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp SEMICOLON>;
            };

            akt_zz {
                trigger-keys = <P>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp P>;
            };

            akt_vv {
                trigger-keys = <D>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp D>;
            };

            akt_kk {
                trigger-keys = <R>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp R>;
            };

            akt_yii {
                trigger-keys = <S>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp B>;
            };

            akt__yiyu {
                trigger-keys = <M>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp DOT>;
            };

            akt_chch {
                trigger-keys = <X>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp X>;
            };

            akt_bb {
                trigger-keys = <COMMA>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp COMMA>;
            };

            akt_iu {
                trigger-keys = <B>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp E>;
            };

            akt_stv {
                trigger-keys = <C>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp RBKT>;
            };

            akt_dd {
                trigger-keys = <L>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp L>;
            };

            akt_tztz {
                trigger-keys = <W>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp W>;
            };

            akt_mm {
                trigger-keys = <V>;
                max-prior-idle-ms = <1000>;
                bindings = <&kp V>;
            };
        };

        arcane_left_en: arcane_left_en {
            compatible = "zmk,behavior-hold-tap";
            label = "ARCANE_LEFT_EN";
            bindings = <&kp>, <&arc_en_left>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        arcane_left_ru: arcane_left_ru {
            compatible = "zmk,behavior-hold-tap";
            label = "ARCANE_LEFT_RU";
            bindings = <&kp>, <&arc_ru_left>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        arcane_right_en: arcane_right_en {
            compatible = "zmk,behavior-hold-tap";
            label = "ARCANE_RIGHT_EN";
            bindings = <&kp>, <&arc_en_right>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        arcane_right_ru: arcane_right_ru {
            compatible = "zmk,behavior-hold-tap";
            label = "ARCANE_RIGHT_RU";
            bindings = <&kp>, <&arc_ru_right>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        layer_sft: layer_sft {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_SFT";
            bindings = <&mo>, <&sk>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        gr_dot_en: gr_dot_en {
            compatible = "zmk,behavior-mod-morph";
            label = "GR_DOT_EN";
            bindings = <&kp PERIOD>, <&gm_dot_space_shift>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        gr_dot_ru: gr_dot_ru {
            compatible = "zmk,behavior-mod-morph";
            label = "GR_DOT_RU";
            bindings = <&kp SLASH>, <&gm_dot_space_shift>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        gr_comma_en: gr_comma_en {
            compatible = "zmk,behavior-mod-morph";
            label = "GR_COMMA_EN";
            bindings = <&gm_commaspace_en>, <&kp RA(LS(N5))>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        gr_comma_ru: gr_comma_ru {
            compatible = "zmk,behavior-mod-morph";
            label = "GR_COMMA_RU";
            bindings = <&gm_commaspace_ru>, <&kp RA(LS(N5))>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        gr_minus: gr_minus {
            compatible = "zmk,behavior-mod-morph";
            label = "GR_MINUS";
            bindings = <&kp MINUS>, <&kp KP_PLUS>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        gr_slash: gr_slash {
            compatible = "zmk,behavior-mod-morph";
            label = "GR_SLASH";
            bindings = <&kp RA(LS(BACKSLASH))>, <&kp ASTERISK>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        gr_quote: gr_quote {
            compatible = "zmk,behavior-mod-morph";
            label = "GR_QUOTE";
            bindings = <&kp RA(NUMBER_2)>, <&kp RA(LS(NUMBER_2))>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        gr_under: gr_under {
            compatible = "zmk,behavior-mod-morph";
            label = "GR_UNDER";
            bindings = <&kp UNDERSCORE>, <&kp RA(GRAVE)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        gr_sqp: gr_sqp {
            compatible = "zmk,behavior-mod-morph";
            label = "GR_SQP";
            bindings = <&kp RA(LEFT_BRACKET)>, <&kp RA(RIGHT_BRACKET)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        kha {
            bindings = <&kp LBKT>;
            key-positions = <6 7>;
            layers = <0>;
        };

        hrdsgn {
            bindings = <&kp RBKT>;
            key-positions = <7 8>;
            layers = <0>;
        };

        TO_RU {
            bindings = <&KB_RU>;
            key-positions = <28 29>;
            layers = <0>;
        };

        TO_EN {
            bindings = <&KB_EN>;
            key-positions = <28 29>;
            layers = <1>;
        };

        z {
            bindings = <&kp Z>;
            key-positions = <16 17>;
            layers = <0>;
        };

        undr {
            bindings = <&gr_under>;
            key-positions = <13 14>;
            layers = <1>;
        };

        rusinch {
            bindings = <&gr_quote>;
            key-positions = <7 8>;
            layers = <1>;
        };

        th_alt {
            bindings = <&kp LEFT_ALT>;
            key-positions = <34 33>;
        };

        th_ctrl {
            bindings = <&kp LCTRL>;
            key-positions = <32 33>;
        };

        en_lbr {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <16 6>;
            layers = <0>;
        };

        en_rbr {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <17 7>;
            layers = <0>;
        };

        ru_rbrc {
            bindings = <&kp LS(RA(LEFT_BRACKET))>;
            key-positions = <17 7>;
            layers = <1>;
        };

        ru_lbrc {
            bindings = <&kp LS(RA(RIGHT_BRACKET))>;
            key-positions = <16 6>;
            layers = <1>;
        };

        ru_tz {
            bindings = <&kp W>;
            key-positions = <16 17>;
            layers = <1>;
        };

        ru_sl {
            bindings = <&gr_slash>;
            key-positions = <24 25>;
        };

        c_s {
            bindings = <&kp LC(S)>;
            key-positions = <13 12>;
            layers = <0 1>;
        };

        c_c {
            bindings = <&kp LC(C)>;
            key-positions = <13 3>;
            layers = <0 1>;
        };

        c_x {
            bindings = <&kp LC(X)>;
            key-positions = <14 4>;
            layers = <0 1>;
        };

        c_v {
            bindings = <&kp LC(V)>;
            key-positions = <12 2>;
        };

        kh {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <6 7>;
            layers = <1>;
        };

        c_z {
            bindings = <&kp LC(Z)>;
            key-positions = <23 24>;
            layers = <0 1>;
        };

        cs_z {
            bindings = <&kp LS(LC(Z))>;
            key-positions = <22 23>;
            layers = <0 1>;
        };

        rth_alt {
            bindings = <&kp LEFT_ALT>;
            key-positions = <35 36>;
        };

        rth_gui {
            bindings = <&kp LGUI>;
            key-positions = <36 37>;
        };

        ye {
            bindings = <&kp SQT>;
            key-positions = <3 2>;
            layers = <1>;
        };

        ru_sch {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <17 18>;
            layers = <1>;
        };

        ru_sch2 {
            bindings = <&kp O>;
            key-positions = <27 28>;
            layers = <1>;
        };

        mrck2 {
            bindings = <&mkp MB2>;
            key-positions = <23 12>;
        };

        mmck {
            bindings = <&mkp MB3>;
            key-positions = <22 11>;
        };

        mlcck {
            bindings = <&mkp LCLK>;
            key-positions = <24 13>;
        };

        ShiftEnter {
            bindings = <&kp LS(ENTER)>;
            key-positions = <26 27>;
            layers = <2 11>;
        };

        CtrlEnter {
            bindings = <&kp LC(ENTER)>;
            key-positions = <26 27 28>;
            layers = <2 11>;
        };

        CtrlBksp {
            bindings = <&kp LC(BACKSPACE)>;
            key-positions = <27 28>;
            layers = <2 11>;
        };

        Ralt1 {
            bindings = <&sk RIGHT_ALT>;
            key-positions = <14 25>;
        };

        Ralt2 {
            bindings = <&sk RIGHT_ALT>;
            key-positions = <26 15>;
        };

        line_up_nav {
            bindings = <&new_line_up>;
            key-positions = <24 23>;
            layers = <2>;
        };

        copy_string_nav {
            bindings = <&copy_string>;
            key-positions = <22 23>;
            layers = <2>;
        };

        not_equal {
            bindings = <&not_equal_macro>;
            key-positions = <5 15>;
        };

        fadein_en {
            bindings = <&sl 9>;
            key-positions = <11 12>;
            layers = <0>;
        };

        fadein_ru {
            bindings = <&sl 10>;
            key-positions = <12 11>;
        };

        ru_slp {
            bindings = <&kp RA(LEFT_BRACKET)>;
            key-positions = <15 16>;
            layers = <1>;
        };

        ru_srp {
            bindings = <&kp RA(RIGHT_BRACKET)>;
            key-positions = <5 6>;
            layers = <1>;
        };
    };

    macros {
        KB_EN: KB_EN {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LC(LA(NUMBER_6))>,
                <&macro_wait_time 25>,
                <&to 0>,
                <&macro_wait_time 25>;

            label = "KB_EN";
        };

        KB_RU: KB_RU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LC(LA(N7))>,
                <&macro_wait_time 25>,
                <&to 1>,
                <&macro_wait_time 25>;

            label = "KB_RU";
        };

        gm_commaspace_en: dotspace_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp COMMA &kp SPACE>;
            label = "DOTSPACE_EN";
        };

        gm_commaspace_ru: dotspace_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp QUESTION &kp SPACE>;
            label = "DOTSPACE_RU";
        };

        ru_emdash: ru_emdash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 30>,
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp N2 &kp N0 &kp N1 &kp N4 &kp ENTER>,
                <&macro_wait_time 30>,
                <&KB_RU>;

            label = "RU_EMDASH";
        };

        en_emdash: en_emdash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp N2 &kp N0 &kp N1 &kp N4 &kp ENTER>,
                <&macro_wait_time 10>;

            label = "EN_EMDASH";
        };

        en_rdq: en_rdq {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp N0 &kp N0 &kp B &kp B &kp ENTER>,
                <&macro_wait_time 10>;

            label = "EN_RDQ";
        };

        ru_ldq: ru_ldq {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 10>,
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp N0 &kp N0 &kp A &kp B &kp ENTER>,
                <&macro_wait_time 10>,
                <&KB_RU>;

            label = "RU_LDQ";
        };

        ru_rdq: ru_rdq {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 10>,
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp N0 &kp N0 &kp B &kp B &kp ENTER>,
                <&macro_wait_time 10>,
                <&KB_RU>;

            label = "RU_RDQ";
        };

        en_ldq: en_ldq {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp N0 &kp N0 &kp A &kp B &kp ENTER>,
                <&macro_wait_time 10>;

            label = "EN_LDQ";
        };

        ru_lbr: ru_lbr {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 10>,
                <&kp LEFT_BRACE>,
                <&macro_wait_time 10>,
                <&KB_RU>;

            label = "RU_LBR";
        };

        ru_rbr: ru_rbr {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 10>,
                <&kp RIGHT_BRACE>,
                <&macro_wait_time 10>,
                <&KB_RU>;

            label = "RU_RBR";
        };

        en_endash: en_endash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp NUMBER_2 &kp NUMBER_0 &kp N1 &kp NUMBER_3 &kp ENTER>,
                <&macro_wait_time 10>;

            label = "EN_ENDASH";
        };

        ru_endash: ru_endash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 10>,
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp NUMBER_2 &kp NUMBER_0 &kp N1 &kp NUMBER_3 &kp ENTER>,
                <&macro_wait_time 10>,
                <&KB_RU>;

            label = "RU_ENDASH";
        };

        new_line_down: new_line_down {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp END>, <&macro_wait_time 0>, <&kp LS(ENTER)>;

            label = "NEW_LINE_DOWN";
        };

        new_line_up: new_line_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp HOME>, <&macro_wait_time 0>, <&kp LS(ENTER)>;

            label = "NEW_LINE_UP";
        };

        cut_string: cut_string {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp HOME>,
                <&macro_wait_time 0>,
                <&kp LS(DOWN)>,
                <&macro_wait_time 0>,
                <&kp LC(X)>;

            label = "CUT_STRING";
        };

        copy_string: copy_string {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp HOME>,
                <&macro_wait_time 0>,
                <&kp LS(DOWN)>,
                <&macro_wait_time 0>,
                <&kp LC(C)>;

            label = "COPY_STRING";
        };

        sp_shift: sp_shift {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SPACE>, <&macro_wait_time 5>, <&sk LEFT_SHIFT>;

            label = "SP_SHIFT";
        };

        comma_sp_ru: comma_sp_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp QUESTION>, <&macro_wait_time 5>, <&kp SPACE>;

            label = "COMMA_SPACE_RU";
        };

        ing: ing {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp I &kp N &kp G>;
            label = "ING";
        };

        ru_hypenminus: ru_hypenminus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 30>,
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp N0 &kp N0 &kp NUMBER_2 &kp D &kp ENTER>,
                <&macro_wait_time 30>,
                <&KB_RU>;

            label = "RU_HYPENMINUS";
        };

        en_hyperminus: en_hyperminus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp N0 &kp N0 &kp NUMBER_2 &kp D &kp ENTER>,
                <&macro_wait_time 30>;

            label = "EN_HYPERMINUS";
        };

        ru_figuredash: ru_figuredash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 30>,
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp NUMBER_2 &kp N0 &kp NUMBER_1 &kp NUMBER_2 &kp ENTER>,
                <&macro_wait_time 30>,
                <&KB_RU>;

            label = "RU_FIGUREDASH";
        };

        en_figuredash: en_figuredash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp NUMBER_2 &kp N0 &kp NUMBER_1 &kp NUMBER_2 &kp ENTER>,
                <&macro_wait_time 30>;

            label = "EN_FIGUREDASH";
        };

        ru_tenge: ru_tenge {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 30>,
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp NUMBER_2 &kp N0 &kp B &kp N8 &kp ENTER>,
                <&macro_wait_time 30>,
                <&KB_RU>;

            label = "RU_TENGE";
        };

        en_tenge: en_tenge {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp NUMBER_2 &kp N0 &kp B &kp N8 &kp ENTER>,
                <&macro_wait_time 30>;

            label = "EN_TENGE";
        };

        ru_mngt: ru_mngt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 30>,
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp NUMBER_2 &kp N0 &kp NUMBER_2 &kp NUMBER_6 &kp ENTER>,
                <&macro_wait_time 30>,
                <&KB_RU>;

            label = "RU_MNGT";
        };

        en_mngt: en_mngt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp NUMBER_2 &kp N0 &kp NUMBER_2 &kp NUMBER_6 &kp ENTER>,
                <&macro_wait_time 30>;

            label = "EN_MNGT";
        };

        ru_quex: ru_quex {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 30>,
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp NUMBER_2 &kp N0 &kp NUMBER_4 &kp N8 &kp ENTER>,
                <&macro_wait_time 30>,
                <&KB_RU>;

            label = "RU_QUEX";
        };

        en_quex: en_quex {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp NUMBER_2 &kp N0 &kp NUMBER_4 &kp N8 &kp ENTER>,
                <&macro_wait_time 30>;

            label = "EN_QUEX";
        };

        not_equal_macro: not_equal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EXCL &kp EQUAL>;
            label = "NOT_EQUAL";
        };

        emdash_spaced: emdash_spaced {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SPACE &kp RA(MINUS) &kp SPACE>;
            label = "EMDASH_SPACED";
        };

        spaced_ru_emdash: spaced_ru_emdash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 50>,
                <&kp SPACE>,
                <&macro_wait_time 5>,
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp N2 &kp N0 &kp N1 &kp N4 &kp ENTER>,
                <&macro_wait_time 30>,
                <&KB_RU>,
                <&macro_wait_time 5>,
                <&kp SPACE>;

            label = "SPACED_RU_EMDASH";
        };

        spaced_en_emdash: spaced_en_emdash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp SPACE>,
                <&macro_wait_time 10>,
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp N2 &kp N0 &kp N1 &kp N4 &kp ENTER>,
                <&macro_wait_time 10>,
                <&kp SPACE>;

            label = "SPACED_EN_EMDASH";
        };

        gm_dot_space_shift: gm_dot_space_shift {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(LS(C)) &kp SPACE &sk LSHFT>;
            label = "GM_DOT_SPACE_SHIFT";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        en_base {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "BASE";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃     Q     ┃     W     ┃     F     ┃     P     ┃     G     ┃   ┃     J     ┃     L     ┃     U     ┃     Y     ┃     ;     ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃     A     ┃     R     ┃     S     ┃     T     ┃     D     ┃   ┃     H     ┃     N     ┃     E     ┃     I     ┃     O     ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃     Q     ┃     Z     ┃     X     ┃     C     ┃     V     ┃     B     ┃   ┃     K     ┃     M     ┃     ,     ┃     .     ┃     /     ┃     \     ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃    DEL    ┃    TAB    ┃    SPC    ┃   ┃   ENTER   ┃           ┃   BSPC    ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
                    &kp J  &kp Y      &kp A         &kp U                    &gr_minus      &kp Q    &kp G                     &kp N         &kp F  &kp K
                    &kp H  &kp I      &hml LCTRL O  &hml LSHFT E             &gr_dot_en     &kp P    &hmr RSHFT D              &hmr LCTRL R  &kp S  &kp M
&lt 8 C_PLAY_PAUSE  &kp X  &gr_under  &gr_quote     &gr_comma_en             &gr_slash      &kp B    &kp C                     &kp L         &kp W  &kp V  &kp Z
                                      &lt 7 TAB     &arcane_left_en LSHFT 0  &lt 2 SPACE    &lt 3 T  &arcane_right_en RSHFT 0  &lt 11 ESC
            >;
        };

        ru {
            bindings = <
           &kp A  &kp E  &kp F         &kp DOT                  &gr_minus     &kp I      &kp V                     &kp Y         &kp R  &kp P
           &kp Z  &kp B  &hml LCTRL J  &hml LSHFT T             &gr_dot_ru    &kp U      &hmr RSHFT N              &hmr LCTRL H  &kp D  &kp X
&lt 8 SQT  &kp Q  &kp S  &kp M         &gr_comma_ru             &kp GRAVE     &kp COMMA  &kp L                     &kp K         &kp G  &kp SEMICOLON  &kp W
                         &trans        &arcane_left_ru LSHFT 0  &trans        &lt 3 C    &arcane_right_ru RSHFT 0  &trans
            >;
        };

        nav_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "NAVI";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃           ┃           ┃     UP    ┃           ┃     {     ┃   ┃     }     ┃     7     ┃     8     ┃     9     ┃     +     ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃   SHIFT   ┃   LEFT    ┃    DOWN   ┃   RIGHT   ┃     [     ┃   ┃     ]     ┃     4     ┃     5     ┃     6     ┃     -     ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃           ┃           ┃   P UP    ┃  C LOCK   ┃  P DOWN   ┃     (     ┃   ┃     )     ┃     1     ┃     2     ┃     3     ┃     *     ┃           ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃           ┃    TAB    ┃    SPC    ┃   ┃    DEL    ┃     0     ┃           ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
            &kp LS(DELETE)   &kp LS(HOME)  &kp LS(UP)      &kp LS(END)    &kp LC(LS(HOME))    &kp LC(HOME)  &kp HOME            &kp UP_ARROW    &kp END          &kp PAGE_UP
            &lt 5 LS(LC(K))  &kp LS(LEFT)  &kp LS(DOWN)    &kp LS(RIGHT)  &kp LS(LC(END))     &kp LC(END)   &kp LEFT_ARROW      &kp DOWN_ARROW  &kp RIGHT_ARROW  &lt 5 PG_DN
&kp C_PREV  &mo 8            &cut_string   &new_line_down  &kp ESC        &kp DEL             &kp ENTER     &kp BACKSPACE       &kp DELETE      &kp INS          &kp PRINTSCREEN  &kp C_NEXT
                                           &trans          &trans         &trans              &mo 4         &layer_sft 6 RSHFT  &kp LCTRL
            >;
        };

        Sym1 {
            bindings = <
        &kp BACKSLASH     &kp RA(E)  &kp RA(F)  &kp RA(COMMA)         &kp RA(DOT)              &kp LS(NUMBER_1)  &kp RA(NUMBER_1)  &kp RA(Y)       &kp RA(R)         &kp RA(BACKSLASH)
        &kp RA(H)         &kp RA(B)  &kp RA(J)  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS    &kp RA(U)         &kp LS(RA(N8))    &kp LS(RA(N7))  &kp RA(N7)        &kp LS(N5)
&trans  &kp RA(NUMBER_6)  &kp RA(S)  &kp RA(L)  &kp EQUAL             &kp RA(LS(L))            &kp LS(NUMBER_3)  &kp RA(NUMBER_4)  &emdash_spaced  &kp LS(NUMBER_2)  &kp LS(RA(GRAVE))  &trans
                                     &trans     &trans                &lt 4 SPACE              &trans            &trans            &trans
            >;
        };

        Sym2 {
            label = "SYM2";
            bindings = <
              &kp F10            &kp F9        &kp F4         &kp F3         &gr_minus        &gr_sqp            &kp N7               &kp N8               &kp N9              &kp RA(NUMBER_3)
              &hml LEFT_GUI F11  &hml LALT F8  &hml LCTRL F5  &hml LSHFT F2  &kp RA(LS(C))    &kp N0             &hmr RSHFT NUMBER_1  &hmr LCTRL NUMBER_2  &hmr LALT NUMBER_3  &hmr LEFT_GUI PERCENT
&kp LEFT_GUI  &kp F12            &kp F7        &kp F6         &kp F1         &gr_slash        &kp RA(SEMICOLON)  &kp NUMBER_4         &kp N5               &kp NUMBER_6        &kp LS(RA(N5))         &kp LC(EQUAL)
                                               &trans         &trans         &trans           &trans             &trans               &trans
            >;
        };

        adj {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "adj";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃ NEXT FILE ┃ MARK IN   ┃ ROTATE    ┃ MARK OUT  ┃ SHOW SNAP ┃   ┃           ┃           ┃           ┃           ┃           ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃ TVP II    ┃ LEFT      ┃ PAN       ┃ RIGHT     ┃ PLAY/FLIP ┃   ┃           ┃           ┃           ┃           ┃           ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃ FULLSCR   ┃ SHIFT     ┃ COPY      ┃ DELETE    ┃ PASTE     ┃ IMG MARK  ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃           ┃ UNDO/SAVE ┃  SEL/MOV  ┃   ┃           ┃           ┃           ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
            &bootloader   &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1      &bt BT_SEL 0         &kp C_MUTE       &kp F3  &kp F4  &kp F9  &kp F10
            &kp LEFT_GUI  &kp LALT      &kp LCTRL     &kp LSHFT         &kp C_VOLUME_DOWN    &kp C_VOLUME_UP  &kp F2  &kp F5  &kp F8  &kp F11
&bt BT_PRV  &bt BT_CLR    &out OUT_BLE  &out OUT_USB  &kp C_PLAY_PAUSE  &kp C_PREV           &kp C_NEXT       &kp F1  &kp F6  &kp F7  &kp F12  &bt BT_NXT
                                        &trans        &trans            &trans               &trans           &trans  &trans
            >;
        };

        khronkite {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "khrnkt";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃ SOLO      ┃ TOGGLE IN ┃ RESET ROT ┃ TOGGLE OUT┃ TAKE SNAP ┃   ┃           ┃           ┃           ┃           ┃           ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃ ---       ┃ LAST KEY  ┃ NEW KEY   ┃ NEXT KEY  ┃ ENTER     ┃   ┃           ┃           ┃           ┃           ┃           ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃           ┃ FULLSCR   ┃ CPY2BRUSH ┃ DEL HEAD  ┃ PSTinPLACE┃ BOOK MARK ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃           ┃ REDO/SAV1 ┃TRANS/WARP ┃   ┃           ┃           ┃           ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
        &kp LG(LA(Q))  &kp LA(LG(O))  &kp LS(LG(K))  &kp LA(LG(R))  &kp LA(LG(T))    &kp LG(F)             &kp LS(LA(F8))  &kp LS(LA(F9))  &kp LS(LA(F10))  &kp LS(LA(F11))
        &kp LA(LG(F))  &kp LS(LG(H))  &kp LS(LG(J))  &kp LS(LG(L))  &kp LA(LG(Y))    &kp LS(LG(UP_ARROW))  &kp LC(F1)      &kp LC(F2)      &kp LC(F3)       &kp LC(F4)
&trans  &kp LG(M)      &kp LC(LG(K))  &kp LC(LG(H))  &kp LG(LC(L))  &kp LC(LG(J))    &kp LS(LG(DOWN))      &kp LG(M)       &kp LA(F3)      &kp LG(LC(A))    &kp LG(LC(D))    &trans
                                      &kp LG(ENTER)  &kp LG(K)      &kp LG(J)        &trans                &trans          &trans
            >;
        };

        Shortcuts {
            bindings = <
        &kp LC(W)      &kp LC(Q)  &kp LC(LS(I))  &kp LS(LC(R))  &kp LC(T)    &kp LC(MINUS)  &kp LC(D)  &kp LC(N)          &kp LS(LC(M))  &kp LC(MINUS)
        &kp LS(LC(K))  &kp LC(L)  &kp LC(S)      &kp LC(A)      &kp LC(F)    &kp LC(EQUAL)  &kp LC(P)  &kp LS(LA(LC(E)))  &kp LC(O)      &kp LC(PLUS)
&trans  &kp LC(Q)      &kp LA(Z)  &kp LC(G)      &kp LC(R)      &kp LC(H)    &kp LC(B)      &kp LC(I)  &kp LC(U)          &kp LS(LC(X))  &kp LSHFT      &trans
                                  &trans         &trans         &trans       &kp LS(LC(Z))  &kp LC(Z)  &kp LC(W)
            >;
        };

        Mouse {
            bindings = <
       &trans        &sk LC(LALT)  &sk LS(LA(LCTRL))  &sk LS(LCTRL)  &trans    &msc SCRL_UP    &mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &trans
       &kp LEFT_GUI  &kp LALT      &sk LCTRL          &sk LSHFT      &trans    &msc SCRL_DOWN  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans
&mo 8  &mo 8         &trans        &trans             &trans         &trans    &trans          &msc SCRL_LEFT  &mkp MCLK       &msc SCRL_RIGHT  &trans  &trans
                                   &trans             &trans         &trans    &trans          &trans          &trans
            >;
        };

        Fadein {
            bindings = <
        &trans  &trans  &trans   &trans     &trans               &trans          &trans          &trans  &trans  &trans
        &trans  &trans  &trans   &en_tenge  &en_mngt             &en_emdash      &en_endash      &trans  &trans  &trans
&trans  &trans  &trans  &trans   &en_quex   &trans               &en_hyperminus  &en_figuredash  &trans  &trans  &trans  &trans
                        &en_rdq  &en_ldq    &spaced_en_emdash    &trans          &trans          &trans
            >;
        };

        Fadeinru {
            bindings = <
        &trans  &trans  &trans   &trans     &trans               &trans          &trans          &trans  &trans  &trans
        &trans  &trans  &trans   &ru_tenge  &ru_mngt             &ru_emdash      &ru_endash      &trans  &trans  &trans
&trans  &trans  &trans  &trans   &ru_quex   &trans               &ru_hypenminus  &ru_figuredash  &trans  &trans  &trans  &trans
                        &ru_rdq  &ru_ldq    &spaced_ru_emdash    &trans          &trans          &trans
            >;
        };

        unicode {
            bindings = <
        &kp LALT       &kp RA(N8)  &kp RA(G)  &kp RA(X)  &kp RA(I)               &kp RA(D)      &kp RA(A)  &kp RA(N)              &kp RA(M)          &kp RA(V)
        &kp RA(LS(M))  &kp RA(B)   &kp RA(C)  &kp LSHFT  &kp RS(RA(NUMBER_6))    &kp RA(MINUS)  &kp LSHFT  &kp RA(LS(SEMICOLON))  &kp RA(LS(MINUS))  &kp RA(N5)
&trans  &kp LGUI       &kp RA(Q)   &kp RA(O)  &kp RA(Z)  &kp RA(LS(NUMBER_3))    &kp ENTER      &kp BSPC   &kp DEL                &kp RA(SLASH)      &kp RA(LS(EQUAL))  &trans
                                   &trans     &trans     &trans                  &trans         &trans     &trans
            >;
        };
    };
};
